@{
    ViewData["Title"] = "Check Out Complete";
    ViewData["pageView"] = "Check Out Complete";
}

            <div class="products">
                <div class="container">
                              <div class="row ">
                                  <div class="col text-center check-out-complete">
                                      <i class="fa fa-check-circle" style="font-size: 48px;color: green"></i>
                                      <p>ขอบคุณที่ใช้บริการ</p>
                                  </div>
                              </div>
                </div>
            </div>

